@{
    ViewData["Title"] = "Home Page";
}
﻿@{
    string username = User.Identity.Name;
}

<div class="container">
    <div class="row flex-row col-12">
        <div class="createBtnWrapper col-6 d-flex justify-content-end">
            <button id="createBtn" class="cool-button hidden btn btn-success">Create</button>
        </div>
        <div class="previewBtnWrapper col-6">
            <button id="previewBtn" class="cool-button hidden btn btn-primary">Preview</button>
        </div>
    </div>
</div>
