body {
}
.frontPageBtn {
    padding: 12px 24px;
    font-size: 26px;
    /*font-weight: bold;*/
    color: #000;
    text-decoration: none;
    border: none;
    border-radius: 30px;
    background-color:antiquewhite;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    opacity: 0;
    font-family:'Segoe UI'
}
#createBtn, #previewBtn {
    background-color: blanchedalmond;
}

  #createBtn:hover, #previewBtn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    color:inherit;
}

.containerFrontPage {
    min-height: 100vh;
}