@model MyBiking.Application.Dtos.RideDto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RideDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
@*             <div class="form-group">
                <label asp-for="BikeId" class="control-label"></label>
                <input value="1" asp-for="BikeId" class="form-control" />
                <span asp-validation-for="BikeId" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="StartingDateTime" class="control-label"></label>
                <input asp-for="StartingDateTime" class="form-control" />
                <span asp-validation-for="StartingDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndingDateTime" class="control-label"></label>
                <input asp-for="EndingDateTime" class="form-control" />
                <span asp-validation-for="EndingDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
