@model MyBiking.Application.Ride.RideTimeActivity
@using System.Globalization

@{
    var rideActivities = Model.RideTimeActivitiesDates.ToList() ?? new List<DateTime>();
}

<div class="container mt-5">
    <div class=" monthSelector d-flex justify-content-end">

        <div class="form-group col-1">
            <label class="control-label"></label>
            <select class="form-select" id="Year"
                    asp-items="@(new SelectList(Model.Years.Select(r=>r)))">
            </select>
        </div>
    </div>

    <div class="ride-activities">
        @if (rideActivities.Count() > 0)
        {

            @foreach (DateTime rideActivity in rideActivities)
            {
                <div class="row monthRideDetails">
                        <div class="row d-flex justify-content-between">
                            <div class="monthName col-1 d-flex justify-content-center align-content-center">
                            <p class="month col text text-black my-2">@rideActivity.ToString("MMMM", new CultureInfo("en-US"))</p>
                            </div>
                            <div class="monthWrapper col-1 d-flex justify-content-center align-content-center align-self-center">
                                <span class="dropdown-toggle month-toggle text-secondary"></span>
                            </div>
                        </div>
                        <div class="row dataRow">
                            <a asp-action="MonthlyRides" asp-route-year="@rideActivity.Year" asp-controller="Ride" asp-route-month="@rideActivity.ToString("MMMM", new CultureInfo("en-US"))">Watch monthly details</a>
                        </div>
                </div>
            }
        }
        </div>
</div>


<p>
    <a asp-action="Create">Create New</a>
</p>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js//RideActivity/RideActivityMonth.js"></script>
}