@* @model IEnumerable<MyBiking.Entity.Models.RideTimeActivity> *@
@model MyBiking.Application.Dtos.RideModelView
@using MyBiking.Entity.Models
@using System.Globalization

@{
    ViewData["Title"] = "Index";
    var rideActivities = Model.RideActivities.ToList() ?? new List<RideTimeActivity>();
}

<div class="container mt-5">
    <div class=" monthSelector d-flex justify-content-end">

        <div class="form-group col-1">
            <label class="control-label"></label>
            <select class="form-select" id="Year"
                    asp-items="@(new SelectList(Model.RideActivities.Select(r=>r.Year)))">
            </select>
        </div>
    </div>
    @if (rideActivities.Count() > 0)
    {
        
        @foreach (DateTime month in rideActivities.FirstOrDefault(r=>r.Year==Model.SelectedDate).RideTimeActivitiesDates)
        {
            <div class="row monthRideDetails">
                @* <div class="col align-content-center d-flex justify-content-between"> *@
                    <div class="row d-flex justify-content-between">
                        <div class="monthName col-1 d-flex justify-content-center align-content-center">
                            <p class="month col text text-black my-2">@month.ToString("MMMM", new CultureInfo("en-US"))</p>
                        </div>
                        <div class="monthWrapper col-1 d-flex justify-content-center align-content-center align-self-center">
                        <span class="dropdown-toggle month-toggle text-secondary"></span>
                        </div>
                    </div>
                    <div class="row dataRow"></div>
                <a asp-action="" asp-controller="Wheelie">Watch monthly details</a>

                @* </div> *@
            </div>
        }
    }

</div>


<p>
    <a asp-action="Create">Create New</a>
</p>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js//RideActivity/RideActivityMonth.js"></script>
}