@model MyBiking.Application.Ride.RideTimeActivity
@using System.Globalization

@{
    var rideActivities = Model.RideTimeActivitiesDates.ToList() ?? new List<DateTime>();
}

<div class="container mt-5">
    @if (rideActivities.Count() > 0)
    {

        <div class=" monthSelector d-flex">
            <div class="col-6 d-flex justify-content-start">
            <div class="form-group col-sm-6 col-lg-3">
                <select class="form-select" id="Year"
                        asp-items="@(new SelectList(Model.Years.Select(r=>r)))">
                </select>
            </div>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <a class="btn btn-success" asp-action="Create" asp-controller="Ride">Create</a>
        </div>


    </div>
    }
    else
    {
        <h3 class="d-flex justify-content-center text text-secondary h3">There are currently 0 rides</h3>
        <hr />
        <div class="createBtnWrapper col-12 d-flex justify-content-center">
            <a id="createBtn" asp-action="Create" asp-controller="Ride" class="frontPageBtn hidden">Create</a>
        </div>
    }
    <div class="ride-activities mt-5">
        @if (rideActivities.Count() > 0)
        {

            @foreach (DateTime rideActivity in rideActivities)
            {
                <div class="row monthRideDetails rowItem">
                        <div class="row d-flex justify-content-between col-12">
                            <div class="monthName col-6 d-flex justify-content-center align-content-center">
                                <p class="month col text text-black my-2"><b>@rideActivity.ToString("MMMM", new CultureInfo("en-US"))</b></p>
                            </div>
                            <div class="monthWrapper col-6 d-flex justify-content-end align-content-center align-self-center">
                                <span class="dropdown-toggle month-toggle text-secondary"></span>
                            </div>
                        </div>
                        <div class="row dataRow">
                            <a class="m-auto btn btn-primary w-50 mt-2 rideDetailsBtn" asp-action="MonthlyRides" asp-route-year="@rideActivity.Year" asp-controller="Ride" asp-route-month="@rideActivity.ToString("MMMM", new CultureInfo("en-US"))">Watch monthly details</a>
                        </div>
                </div>
            }
        }
        </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js//RideActivity/RideActivityMonth.js"></script>
    <script src="~/js//frontPage.js"></script>
}